<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm/Sửa sinh viên</title>
</head>
<body>
<h2 th:text="${student.id == null ? 'Thêm sinh viên' : 'Sửa sinh viên'}"></h2>

<form th:action="@{/saveStudent}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Tên sinh viên:</label>
    <input type="text" th:field="*{name}" required><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required><br>

    <label>Số điện thoại:</label>
    <input type="tel" th:field="*{phone}" required><br>

    <label>Giới tính:</label>
    <select th:field="*{sex}">
        <option value="0">Nam</option>
        <option value="1">Nữ</option>
    </select><br>

    <label>Ngày sinh:</label>
    <input type="date" th:field="*{bod}" required><br>

    <label>Khóa học:</label>
    <div th:each="course : ${allCourses}">
        <input type="checkbox"
               th:value="${course.id}"
               th:field="*{courses}"
               th:id="${'course_' + course.id}"
               name="courseIds">
        <label th:for="${'course_' + course.id}" th:text="${course.name}"></label>
    </div>


    <button type="submit">Lưu</button>
    <a th:href="@{/students}">Hủy</a>
</form>
</body>
</html>
