<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/edit-product}" method="post" th:object="${product}">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{productName}" placeholder="Tên sản phẩm" required>
    <input type="text" th:field="*{description}" placeholder="Mô tả" required>
    <input type="number" th:field="*{price}" placeholder="Giá" required>
    <input type="number" th:field="*{stock}" placeholder="Tồn kho" required>
    <input type="text" th:field="*{image}" placeholder="URL ảnh">
    <button type="submit">Cập nhật</button>
</form>

</body>
</html>