<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div>
    <form th:action="@{/user-management}" method="get">
        <input type="text" name="search" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phone}"></td>
        <td>
            <a th:href="@{/user-management/status(id=${user.id}, status=${user.status == 1 ? 2 : 1})}">
                <button type="button" th:if="${user.status == 1}">
                    <i class="fa-solid fa-lock"></i>
                </button>
                <button type="button" th:unless="${user.status == 1}">
                    <i class="fa-solid fa-lock-open"></i>
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/edit/{id}(id=${user.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/product-management}">product managent</a>
<a th:href="@{/oder-management}">oder managent</a>
<script src="https://kit.fontawesome.com/62fa62fdc5.js" crossorigin="anonymous"></script>
</body>
</html>
