<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div style="background-image: url('https://24hquangcao.com/img_data/images/2019/1663734288_42_tranh-bac-ho-(1).jpg'); width: 100%; height: 100vh;">
            <form class="wrapper" th:action="@{/register}" method="post" th:object="${customer}">
        <div class="form-group">
            <label>Tên đăng nhập:</label>
            <input type="text" th:field="*{username}" class="form-control">
            <span th:errors="*{username}" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Mật khẩu:</label>
            <input type="password" th:field="*{password}" class="form-control">
            <span th:errors="*{password}" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input type="email" th:field="*{email}" class="form-control">
            <span th:errors="*{email}" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Số điện thoại:</label>
            <input type="text" th:field="*{phone}" class="form-control">
            <span th:errors="*{phone}" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Đăng ký</button>
        <a href="/login">Đăng nhập</a>
    </form>
</div>
</body>
</html>