<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <!-- Tên -->
    <div>
        <label>Tên:</label>
        <input type="text" th:field="*{username}">
        <span th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}"
              style="color: red"></span>
    </div>

    <!-- Email -->
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
              style="color: red"></span>
    </div>

    <!-- Mật khẩu -->
    <div>
        <label>Mật khẩu:</label>
        <input type="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"
              style="color: red"></span>
    </div>

    <button type="submit">Đăng ký</button>
</form>

</body>
</html>