<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{${seed.id ne null} ? '/edit' : '/add'}" enctype="multipart/form-data" th:object="${seed}" method="post">

    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{seedName}" placeholder="Tên hạt giống"/>
    <input type="text" th:field="*{description}" placeholder="Mô tả"/>
    <input type="number" th:field="*{price}" placeholder="Giá"/>
    <input type="number" th:field="*{stock}" placeholder="Số lượng"/>
    <input type="file" name="imageFile"/>
    <button type="submit">Lưu</button>
</form>
</body>
</html>